<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wopata.register_ui">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activities.SignInActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/RegisterTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activities.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/RegisterTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/RegisterTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
    </application>

</manifest>